{% extends './page/base.html.twig' %}

{% block body %}
    <div class="section-light">
        <div class="container">
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><a href="{{ url_front }}">Dashboard</a></li>
                    <li>Données importées</li>
                </ul>
            </nav>
            <div
                class="column is-12 about-me"
                data-aos="fade-in"
                data-aos-easing="linear"
            >
                <h1 class="title has-text-centered section-title test-list">
                    Données importées : {{ label }}
                </h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="columns">
            <div class="column is-one-quarter">
                {% for item in type_listable %}
                    <ul>
                        <li>
                            <a
                                href="{{ path('list_imported_data_show', {'importedDataType': item.publicKey}) }}"
                                class="{% if current_item == item.publicKey %}has-text-primary {% else %}has-text-link{% endif %}"
                                title="Voir les données importées : {{ item.publicLabel }}"
                            >
                                {{ item.publicLabel|capitalize }}
                            </a>
                        </li>
                    </ul>
                {% endfor %}
            </div>
            <div class="column">
                <div>
                    <span class="tag is-info is-rounded">
                        {{ list_data|length }} {{ label|lower }}
                    </span>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        {% for field in fields %}
                            <th>
                                {{ field.label|capitalize }}
                                {% if field.isSortable and (sort is null or sort.order.value != 'asc' or field.property != sort.property) %}
                                    <a
                                        href="{{ path('list_imported_data_show', {'importedDataType': current_item, 'sort_field': field.property,'sort_order': 'asc' }) }}"
                                        title="Trier la liste par {{ field.label }} et par ordre croissant"
                                    >
                                        <span class="icon">
                                            <i class="fas fa-arrow-up"></i>
                                        </span>
                                    </a>
                                {% endif %}
                                {% if field.isSortable and (sort is null or sort.order.value != 'desc' or field.property != sort.property) %}
                                    <a
                                        href="{{ path('list_imported_data_show', {'importedDataType': current_item, 'sort_field': field.property,'sort_order': 'desc' }) }}"
                                        title="Trier la liste par {{ field.label }} et par ordre décroissant"
                                    >
                                        <span class="icon">
                                            <i class="fas fa-arrow-down"></i>
                                        </span>
                                    </a>
                                {% endif %}
                            </th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for data in list_data %}
                        <tr>
                            {% for field in fields %}
                                <td>
                                    {% set value = attribute(data, field.property) %}
                                    {% if is_url(value) %}
                                        <a href="{{ value }}" target="_blank">
                                            <span class="icon">
                                                <i class="fas fa-arrow-right"></i>
                                            </span>
                                        </a>
                                    {% else %}
                                        {{ value }}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
