<div class="section-light about-me" id="about-me">
    <div class="container">
        <div class="column is-12 about-me">
            <h1 class="title has-text-centered section-title">Newsletter</h1>
        </div>
        <div class="columns is-multiline">
            <div
                class="column is-6 has-vertically-aligned-content"
                data-aos="fade-right"
            >
                <p class="is-larger">
                    <a href="{{ path('newsletter_content_show', {'date': newspaper_date|date('Y-m-d') }) }}"
                       title="Voir le journal du  {{ newspaper_date|date('d/m/Y') }}"
                       target="_blank"
                    >
                        &emsp;&emsp;<strong>Journal du {{ newspaper_date|date('d/m/Y') }}</strong>
                    </a>
                </p>
                <br/>
                <div class="is-divider"></div>
                <div class="columns about-links">
                    <div class="column">
                        <p class="heading">
                            <strong>Accès</strong>
                        </p>
                        <p class="subheading">
                            <a href="{{ path('newsletter_content_show', {'date': newspaper_date|date('Y-m-d') }) }}"
                               title="Voir le email du  {{ newspaper_date|date('d/m/Y') }}"
                               target="_blank"
                            >
                                <i class="far fa-newspaper fa-3x"></i>
                            </a>
                        </p>
                    </div>
                    {% if kpi.waiting_for_action_count is defined %}
                        <div class="column">
                            <p class="heading">
                                <strong>En cours</strong>
                            </p>
                            <p class="subheading">
                                {% set class = 'is-danger' %}
                                {% if kpi.waiting_for_action_count < 30 %}
                                    {% set class = 'is-info' %}
                                {% elseif kpi.waiting_for_action_count < 40 %}
                                    {% set class = 'is-warning' %}
                                {% endif %}
                            <article class="message {{ class }}">
                                <div class="message-body">
                                    {{ kpi.waiting_for_action_count }}
                                </div>
                            </article>
                            </p>
                        </div>
                    {% endif %}
                    {% if kpi.article_not_read_count is defined %}
                        <div class="column">
                            <p class="heading">
                                <strong>A lire</strong>
                            </p>
                            <p class="subheading">
                                {% set class = 'is-danger' %}
                                {% if kpi.article_not_read_count <= 10 %}
                                    {% set class = 'is-info' %}
                                {% elseif kpi.article_not_read_count < 20 %}
                                    {% set class = 'is-warning' %}
                                {% endif %}
                            <article class="message {{ class }}">
                                <div class="message-body">
                                    <a
                                        href="https://airtable.com/appY4TYoXjtjua3KD/tbla72IEwy6EYrX2I/viw5gxaUcsWbVaKBp?blocks=hide"
                                        target="_blank"
                                        title="Liste des articles non lus">
                                        {{ kpi.article_not_read_count }}
                                    </a>
                                </div>
                            </article>
                            </p>
                        </div>
                    {% endif %}
                    {% if kpi.article_with_no_concept_count is defined %}
                        <div class="column">
                            <p class="heading">
                                <strong>Sans concept</strong>
                            </p>
                            <p class="subheading">
                                {% set class = 'is-danger' %}
                                {% if kpi.article_with_no_concept_count <= 10 %}
                                    {% set class = 'is-info' %}
                                {% elseif kpi.article_with_no_concept_count < 20 %}
                                    {% set class = 'is-warning' %}
                                {% endif %}
                            <article class="message {{ class }}">
                                <div class="message-body">
                                    <a
                                        href="https://airtable.com/appY4TYoXjtjua3KD/tblPLpYPyAOT2q13Q/viwVUNvHA6wewcQem?blocks=hide"
                                        target="_blank"
                                        title="Liste des articles sans concept">
                                        {{ kpi.article_with_no_concept_count }}
                                    </a>
                                </div>
                            </article>
                            </p>
                        </div>
                    {% endif %}
                    <div class="column">
                        <p class="heading">
                            <strong>La santé !</strong>
                        </p>
                        <p class="subheading">
                            <a href="{{ path('fooding_health_list') }}"
                               title="Voir la page santé">
                                <i class="fas fa-notes-medical fa-3x"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="column is-6 right-image" data-aos="fade-left">
                {% set main_image = main_image(newspaper) %}
                {% if main_image is not null %}
                    <a
                        href="{{ absolute_url( path('img_normal', {'pathImage': main_image.url.picture.id})) }}"
                        title="Voir l'image taille réelle"
                        target="_blank"
                    >
                        <img
                            class="is-rounded"
                            src="{{ absolute_url(path('img_thumbnail', {'pathImage': main_image.url.picture.id})) }}?format=main_image"
                            alt="{{ main_image.content }}"
                        />
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
