<div id="content">
    <div class="section-light">
        <div class="container">
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><a href="{{ url_front }}">Dashboard</a></li>
                    <li>Bilan de santé</li>
                </ul>
            </nav>
            <div
                class="column is-12 about-me"
                data-aos="fade-in"
                data-aos-easing="linear"
            >
                <h1 class="title has-text-centered section-title test-fooding-health">
                    <a href="{{ path('fooding_health', {month: prev_item}) }}"
                       class="lnk_month_navigation"
                       title="Voir la consommation du mois précédent">
                        <i title="Voir la consommation du mois précédent" class="fas fa-arrow-left"></i>
                    </a>
                    Bilan de santé du mois de {{ date }}
                    <span class="tag is-info">
                        {{ consumptions.nbCoffeeMonth }}
                        <i title="Nombre de cafés du mois"
                           class="fad fa-mug-hot"></i>

                    </span>
                    </span>
                    <span class="tag is-info">
                        {{ consumptions.nbMeatMonth }}
                        <i title="Nombre de repas carnés du mois"
                           class="fad fa-drumstick-bite"></i>
                    </span>
                    {% if next_item is not null %}
                        <a href="{{ path('fooding_health', {month: next_item}) }}"
                           class="lnk_month_navigation"
                           title="Voir la consommation du mois suivant">
                            <i title="Voir la consommation du mois suivant" class="fas fa-arrow-right"></i>
                        </a>
                    {% endif %}
                </h1>
            </div>
        </div>
    </div>
    <div class="section-dark resume">
        <div class="container">
            <div class="columns">
                {% for day in consumptions.daysFromMonth %}
                <div class="column {{ _self.set_css_day(now, day, first_day_month) }}">
                    <div class="card-header">{{ day.dayName | capitalize }} {{ day|date('d') }}</div>
                    <div>
                        {% if day <= now %}
                            <div>
                                <span class="icon {{ _self.set_css_icon(now, day, consumptions.nbCoffeeByDay(day)) }}">
                                <i title="{{ consumptions.NbCoffeeByDay(day) }} café{% if consumptions.nbCoffeeByDay(day) >1 %}s{% endif %}"
                                   class="fad fa-mug-hot"></i>
                                </span>
                            </div>
                        {% endif %}
                        {% if day <= now %}
                            <div>
                                <span class="icon {{ _self.set_css_icon(now, day, consumptions.nbMeatByDay(day)) }}">
                                <i title="{{ consumptions.nbMeatByDay(day) }} repas avec viande"
                                   class="fad fa-drumstick-bite"></i>
                                </span>
                            </div>
                        {% endif %}

                    </div>
                </div>
                {% if loop.index  is divisible by(7) %}
            </div>
            <div class="columns">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    {% macro set_css_day(now, day, first_day_month) %}
        {% if now|date('dmY') == day|date('dmY') %} has-background-primary {# current day #}
        {% elseif first_day_month|date('m') == day|date('m') %} has-background-white {# current month #}
        {% endif %}
    {% endmacro %}

    {% macro set_css_icon(now, day, nb) %}
        {% if nb == 0 %} overlay
        {% elseif nb == 1 %} has-text-warning-dark
        {% elseif nb > 1 %} has-text-danger{% endif %}
    {% endmacro %}

