<table class="table" id="list_imported_data">
    {% if list_data|length >0 %}
        <thead>
        <tr>
            {% for field in fields %}
                <th>
                    {{ field.label|capitalize }}
                    {% if field.isSortable and (sort is null or sort.order.value != 'asc' or field.property != sort.property) %}
                        <a
                            href="{{ path('list_imported_data_show', {'importedDataType': current_item, 'sort_field': field.property,'sort_order': 'asc', 'filter': filter }) }}"
                            title="Trier la liste par {{ field.label }} et par ordre croissant"
                        >
                        <span class="icon">
                            <i class="fa-solid fa-arrow-up"></i>
                        </span>
                        </a>
                    {% endif %}
                    {% if field.isSortable and (sort is null or sort.order.value != 'desc' or field.property != sort.property) %}
                        <a
                            href="{{ path('list_imported_data_show', {'importedDataType': current_item, 'sort_field': field.property,'sort_order': 'desc', 'filter': filter }) }}"
                            title="Trier la liste par {{ field.label }} et par ordre décroissant"
                        >
                        <span class="icon">
                            <i class="fa-solid fa-arrow-down"></i>
                        </span>
                        </a>
                    {% endif %}
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for data in list_data %}
            <tr>
                {% for field in fields %}
                    <td>
                        {% set value = attribute(data, field.property) %}
                        {% if is_url(value) %}
                            <a href="{{ value }}" target="_blank">
                                            <span class="icon">
                                                <i class="fa-solid fa-arrow-right"></i>
                                            </span>
                            </a>
                        {% else %}
                            {{ value }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    {% else %}
        <tr>
            <td>
                Aucune donnée trouvée.
            </td>
        </tr>
    {% endif %}
</table>

