{% extends './page/base.html.twig' %}
{% block body %}
    <div id="content">
        <div class="section-light">
            <div class="container">
                <nav class="breadcrumb" aria-label="breadcrumbs">
                    <ul>
                        <li><a href="{{ url_front }}">Dashboard</a></li>
                        <li>Evénements importants</li>
                    </ul>
                </nav>
                <div
                    class="column is-12 about-me"
                    data-aos="fade-in"
                    data-aos-easing="linear"
                >
                    <h1 class="title has-text-centered section-title test-children">
                        Evénements importants <3
                    </h1>
                </div>
            </div>
            <div class="container">
                {# @var list_event \App\ValueObject\LifeEvent\ListEvent #}
                <table class="table">
                    <thead>
                        <tr>
                            <td>Evénements</td>
                            <td>Date</td>
                            <td>Jour depuis l'évenements</td>
                            <td>Semaines depuis l'évenements</td>
                            <td>Mois depuis l'évenements</td>
                            <td>Années depuis l'évenements</td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for event in list_event %}
                        <tr>
                            <td>
                                {{ event.label }}
                            </td>
                            <td>
                                {{ event.date|date('d/m/Y') }}
                            </td>
                            <td>{{ event.daysSinceDate }} jours</td>
                            <td>{{ event.weeksSinceDate }} semaines</td>
                            <td>{{ event.monthsSinceDate }} mois</td>
                            <td>{{ event.yearsSinceDate }} ans</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
