{% extends './page/base.html.twig' %}
{% block body %}
    <div id="content">
        <div class="section-light">
            <div class="container">
                <nav class="breadcrumb" aria-label="breadcrumbs">
                    <ul>
                        <li><a href="{{ url_front }}">Dashboard</a></li>
                        <li>Alertes</li>
                    </ul>
                </nav>
                <div
                    class="column is-12 about-me"
                    data-aos="fade-in"
                    data-aos-easing="linear"
                >
                    <h1 class="title has-text-centered section-title test-alert">
                        Mes alertes
                    </h1>
                </div>
            </div>
            <div class="container">
                {# @var list_alerts \App\ValueObject\Alert\ListAlert #}
                <table class="table">
                    <thead>
                    <tr>
                        <td>Type</td>
                        <td>Dernière valeur</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for alert in list_alerts.alerts %}
                        <tr>
                            <td>
                                {{ alert.type.label|capitalize }} :
                            </td>
                            <td>
                                {% if alert.type in [constant('App\\Enum\\Alert\\TypeEnum::ABS_MAX_SERIES'),
                                    constant('App\\Enum\\Alert\\TypeEnum::ABS_CURRENT_SERIES'),
                                    constant('App\\Enum\\Alert\\TypeEnum::MEAT_CURRENT_WITHOUT_SERIES'),
                                    constant('App\\Enum\\Alert\\TypeEnum::COFFEE_CURRENT_WITHOUT_SERIES'),
                                ] %}
                                    {{ alert.message }}
                                {% else %}
                                    {{ alert.lastDate|date('d/m/Y') }}
                                    ({{ alert.nbDays }} jour{% if alert.nbDays>1 %}s{% endif %})
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
