{% extends './page/base.html.twig' %}

{% block body %}
    {% if directory is defined %}
        <div class="section-light">
            <div class="container">
                <div
                    class="column is-12 about-me"
                    data-aos="fade-in"
                    data-aos-easing="linear"
                >
                    <h1 class="title has-text-centered section-title test-img-random">
                        Images de {{ directory.relativePath }}
                        <span class="tag">
                            ({{ downloadable_info.nbFiles }} image{% if (downloadable_info.nbFiles > 1) %}s{% endif %})
                    </span>
                    </h1>
                    {% if downloadable_info.isDownloadable %}
                        <a
                            href="{{ path('file_download', {'pathFile': directory.downloadLink}) }}"
                            class="button is-link is-rounded">
                            Télécharger ({{ format_file_size(downloadable_info.size) }})
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="section-color services" id="services">
            <div class="container">
                <div class="columns is-multiline">
                    <div
                        class="column is-12 about-me"
                        data-aos="fade-in"
                        data-aos-easing="linear"
                    >
                        <h2 class="title has-text-centered section-title">Images</h2>
                        <br/>
                    </div>
                    {% for picture in directory.pictures %}
                        {% include './include/image.html.twig' with {
                            picture,
                            'picture_url': absolute_url( path('img_normal', {'pathImage': picture.id})),
                            'picture_title': 'Voir la taille 1 de la photo',
                            is_blank: true
                        } only %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% if directory.subDirectories|length >0 %}
            <div class="section-light">
                <div class="container">
                    <div class="columns is-multiline">
                        <div
                            class="column is-12 about-me"
                            data-aos="fade-in"
                            data-aos-easing="linear"
                        >
                            <h2 class="title has-text-centered section-title">Sous-répertoires
                                <span class="tag">
                            ({{ directory.subDirectories|length }} répertoire{% if (directory.subDirectories|length > 1) %}s{% endif %})
                    </span></h2>
                            <br/>
                        </div>
                        {% for sub_directory in directory.subDirectories %}
                            {% set main_image = random_image_from_directory(sub_directory.relativePath) %}
                            {% include './include/image.html.twig' with {
                                'picture': main_image,
                                'legend': sub_directory.relativePath,
                                'picture_url': path('img_list', {directory: encrypt_url(sub_directory.relativePath)}),
                                'picture_title': 'Voir les images du répertoire '~sub_directory.relativePath
                            } only %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
